head{
    margin: 0;
    background-color: darkslategray;
}

.input_field{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    color: darkslategray;
    background-color: aliceblue;
    float: left;
    width: calc(100% - 1000px);
}
#plot{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 1000px;
    height: 700px;
    color: aliceblue;
    background-color: darkslategray;
    float: left;
    font-size: 30px;
}
#plot.text {
    position: absolute;
    top: 10px;  /* Odstęp od góry */
    right: 10px; /* Odstęp od prawej */
}


.title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    background-color: darkslategray;
    color: aliceblue;
}

#input_list{
    margin: 0;
    padding: 0;
    list-style: none;
}
#input_list li{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}
