head{
    margin: 0;
    background-color: darkslategray;
}

body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    background-color: aliceblue;
}

.title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    background-color: darkslategray;
    color: aliceblue;
}

#input_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#input_list ul li{
    margin: 0;
    padding: 0;
}

#plot{
    width: 700px;
    height: 700px;
    background-color: darkslategray;
}