{% extends 'base.html' %}

{% block head %}
<script>
    async function Plot() {
        const Input = document.getElementById("PMIDS").value;
        const Method = document.getElementById("word").value;
        const Clusters = document.getElementById("number").value;
        const Reduction = document.getElementById("red").value;
        const PMID_list = Input.split(/\s*,\s*|\n/).map(s => s.trim()).filter(s => s);

        if (!PMID_list.length) {
            alert("Enter at least one PMID");
            return;
        }

        try {
            const response = await fetch("/plot", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    pmids: PMID_list,
                    method: Method,
                    clusters: Clusters,
                    reduction: Reduction
                })
            });

            const result = await response.json();

            if(!result || !result.data || !result.layout){
                throw new Error("Plotting error: no data recieved")
            }


            if (response.ok) {
                Plotly.newPlot('plot', result.data, result.layout);
            } else {
                alert(result);
            }
        } catch (error) {
            console.error("Error:", error);
            alert(error);
        }
    }
</script>

{% endblock %}

{% block body %}
<div class="title">
    PubMed clusterization tool
</div>
<div class="input_field">
    <ul id = "input_list">
        <li>
            <label for="PMIDS"> Enter PMID numbers here</label>
            <textarea id="PMIDS" rows = "10" cols = "30" placeholder="Enter PMID's here"></textarea>
        </li>
        <li><label for="number"> Number of clusters</label> <input type="number" id="number" value="3" name="number" min="2" max = "10" required></li>
        <li><label for="word"> Clustering method</label>
            <select id="word" name="word" required>
                <option value="KMEANS">KMEANS</option>
                <option value="Agglomerative">Agglomerative</option>
            </select>
        </li>
        <li><label for="red"> Reduction method </label>
            <select id="red" name="red" required>
                <option value="UMAP"> UMAP </option>
                <option value="PCA"> PCA </option>
                <option value="TSNE"> TSNE </option>
                <option value="SVD"> SVD </option>
            </select>
        </li>
    </ul>
    <br>
    <button onclick="Plot()"> generate clusters</button>
</div>
<div id="plot">
    <div class="text">Plot:</div>
</div>
{% endblock %}
